footer{
    padding: 30px;
    .patrocinadores{
        margin-bottom: 15px;
        .sponsors-div{
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            .sponsor{
                width: 200px;
                height: 200px;
                border-radius: 10px;
            }
        }
    }
    .redes{
        .redes-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            
            .logobn{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }
            .social{
                p{
                    margin-bottom: 10px;
                }
                .icons{
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    flex-wrap: wrap;
                    .icon-img{
                        width: 40px;
                        height: 40px;
                        transition: transform 0,5s;
                    }
                    .icon-img:hover{
                        transform: scale(1.1);
                        border-style: groove;
                        border-width: 5px;
                        border-radius: 100%;
                        border-color: white;
                    }
                }
            }
        }
    }
        @include mobile{
        .sponsor{
            width: 90px;
            height: 90px;
        }
        .sponsors-div {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        }
        .sponsor {
            width: 150px;
            height: 150px;
        }
    }
}