.tienda{
    .navbar{
        margin-bottom: 10px;
    }
    .productos{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: space-evenly;
            gap: 7px;
        .item{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.548);
                width:30%;
                height: 400px;
                border: solid black 3px;
                border-radius: 2%;
                transition: transform 0.5s;
            img{
                width:auto;
                height: 345px;
                padding: 20px;
                object-fit: cover;
            }
            p{
                color: white;
            }
        }
        .item:hover{
                transform: scale(1.05);
                p{
                    color: brown
                }
            
        }
    }
    @include mobile{
        .aside{
            .row{
                .aside-filt{
                    display: none;
                }
            }
        }
        .productos{
            width: max-content;
            .item{
                height: 250px;
                img {
                    height: 200px;
                    width: 150px;
                    object-fit: cover;
                }
                p{
                    font-size: small;
                    padding: 0;
                }
            }
        }
    }
}